:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.Container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.Container-dark {
  background-color: #000;
}

.Container-light {
  background-color: rgb(216, 216, 216);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 80%;
  margin-right: 1em;
  font-family: 'M PLUS 1 Code', sans-serif;
  font-weight: 500;
  font-size: 2em;
}

.Content-dark {
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgb(235, 72, 72);
}
.Content-dark span {
  animation: blink linear infinite 2s;
}

.Content-dark span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}


.Lightswitch {
  display: flex;
  height: 200px;
  width: 15%;
  justify-content: center;
  align-items: center;
}

.Lightswitch button {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.Lightswitch button:hover {
  cursor: pointer;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
